<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>To-do list</title>
</head>

<body>
    <ul>
        {% for task in tasks %}
            <li>
                <form method="POST" action="{{ url_for('complete_tasks') }}" style="display:inline;">
                    <input type="hidden" id="currentlyChecked" name="currentlyChecked" value="{{ tasks[task][1] }}">
                    <input type="hidden" id="{{ task }}" name="checkboxId" value="{{ task }}">
                    <input type="checkbox" id="{{ task }}" name="taskCheckbox" value="{{ task }}" {% if tasks[task][1] %}checked{% endif %} onchange="this.form.submit()">
                </form>

                <label {% if tasks[task][1] %}style="text-decoration: line-through"{% endif %} for="{{ task }}">{{ tasks[task][0] }}</label>

                <form method="POST" action="{{ url_for('delete_tasks') }}" style="display:inline;">
                    <input type="hidden" name="taskIndex" value="{{ task }}">
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <form method="POST" action="{{ url_for('add_task') }}">
        <label for="newTask">Add Task:</label>
        <input type="text" id="newTask" name="newTask" required>
        <button type="submit">Add</button>
    </form>
</body>

</html>
