<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>To-do list</title>
</head>

<body>
    <ul id="task-list">
        {% for task in tasks %}
        <li id="task-item">
            <form name="checkform{{ task }}" method="POST" action="{{ url_for('complete_tasks') }}" style="display:inline;">
                <input type="hidden" id="currentlyChecked" name="currentlyChecked" value="{{ tasks[task][1] }}">
                <input type="hidden" id="{{ task }}" name="checkboxId" value="{{ task }}">
                <input type="checkbox" id="{{ task }}" name="taskCheckbox" value="{{ task }}" {%if tasks[task][1] %}checked{% endif %} onchange="this.form.submit()">
            </form>

            <label id="task-title" {% if tasks[task][1] %}style="text-decoration: line-through" {% endif %} for="{{ task }}">{{ tasks[task][0] }}</label>

            <form method="POST" action="{{ url_for('delete_tasks') }}" style="display:inline;">
                <input type="hidden" name="taskIndex" value="{{ task }}">
                <button type="submit"><i class="nf nf-cod-trash" style="font-size: 20px;"></i></button>
            </form>

            <ul class="tag-container">
                <li id="tag-item">
                    {% for tag in tasks[task][2] %}
                    <div class="tag-dot" style="background-color: {{ tags[tag] }}" onmouseover="document.getElementById('tag-text{{ tag }}{{ task }}').textContent='{{ tag }}';
                                document.getElementById('tag-delete{{ tag }}{{ task }}').style.display='inline';" onmouseout="document.getElementById('tag-text{{ tag }}{{ task }}').textContent='{{ tag[0] }}';
                                document.getElementById('tag-delete{{ tag }}{{ task }}').style.display='none';">
                        <span id="tag-text{{ tag }}{{ task }}">{{ tag[0] }}</span>
                        <form method="POST" id="deletetagform{{ tag }}{{ task }}" action="{{ url_for('delete_tag') }}" style="display:inline;">
                            <input type="hidden" name="tagSelected" value="{{ tag }}">
                            <input type="hidden" name="taskIndex" value="{{ task }}">
                            <span class="tag-delete" id="tag-delete{{ tag }}{{ task }}" onclick="document.getElementById('deletetagform{{ tag }}{{ task }}').submit()">X</span>
                        </form>
                    </div>
                    {% endfor %}
                    <form method="POST" id="addtagform{{ task }}" action="{{ url_for('add_tag') }}" style="display:inline;">
                        <input type="hidden" name="tagSelected" id="tagSelected{{ task }}" value="">
                        <input type="hidden" name="taskIndex" value="{{ task }}">
                        <div class="tag-add" id="tagadd{{ task }}">
                            <div class="tag-add-button" onclick="
                                    tagAdd = document.getElementById('tagadd{{ task }}')
                                    list = document.getElementById('tag-add-list{{ task }}')
                                    for (let taglist of document.getElementsByClassName('tag-add-list')) {
                                        if (taglist != list) {
                                            taglist.style.display = 'none';
                                            tagAdd.style.marginLeft = '0';
                                            tagAdd.style.position = 'relative'
                                        }
                                    }
                                    if(list.style.display == 'none' || !list.style.display) {
                                        list.style.display = 'block';
                                        tagAdd.style.marginLeft = '5px';
                                        tagAdd.style.position = 'absolute'
                                        
                                    } else {
                                        list.style.display = 'none';
                                        tagAdd.style.marginLeft = '0';
                                        tagAdd.style.position = 'relative'
                                    }
                                ">+</div>
                            <ul class="tag-add-list" id="tag-add-list{{ task }}">
                                {% for tag in tags.keys() %} {% if tag not in tasks[task][2] %}
                                <li id="tag-add-item" style="background-color: {{ tags[tag] }}" onclick="
                                                document.getElementById('tagSelected{{ task }}').value = '{{ tag }}';
                                                document.getElementById('addtagform{{ task }}').submit();
                                            ">{{ tag }}</li>
                                {% endif %} {% endfor %}
                            </ul>
                        </div>
                    </form>
                </li>
            </ul>
        </li>
        {% endfor %}
    </ul>

    <form id="addtaskform" method="POST" action="{{ url_for('add_task') }}">
        <label id="add-task" for="newTask">Add Task:</label>
        <input id="add-task-input" type="text" id="newTask" name="newTask" required>
        <button id="add-task-submit" type="submit">Add</button>
    </form>

    <form id="createtagform" method="POST" action="{{ url_for('create_tag') }}">
        <label for="taskTag">Add a tag or edit an existing one:</label>
        <input type="text" list="tags-list" id="tagCreated" name="tagCreated" required onchange="
        tagsList = {{ tags | safe }};
        tagColour = tagsList[this.value];
        if (typeof tagColour == 'undefined') {
            tagColour = '#000000'
        }
        document.getElementById('newTagColour').value = tagColour;
        " onfocus="this.value=''">
        <datalist id="tags-list">
            {% for tag in tags.keys() %}
                <option value="{{ tag }}">{{ tag }}</option>
            {% endfor %}
        </datalist>

        <input type="color" id="newTagColour" name="newTagColour" value="#000000">
        <button id="create-tag-submit" type="submit">Add</button>
    </form>
</body>

<footer>
    <p>Created by <a href="https://github.com/Kirito139">Kirito139</a>, <a href="https://github.com/shim-sham">shim-sham</a>, and <a href="https://github.com/LayanJethwa">LayanJethwa</a> for Sock, a Hack Club YSWS</p>
</footer>
<button id="dark-mode-toggle">Dark mode</button>

<script>
    const toggleButton = document.getElementById("dark-mode-toggle");
    toggleButton.addEventListener("click", () => {
        document.body.classList.toggle("dark-mode");
        localStorage.setItem("dark-mode", document.body.classList.contains("dark-mode"));
    });

    if (localStorage.getItem("dark-mode") === "true") {
        document.body.classList.add("dark-mode");
    }
</script>
</html>
