<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>To-do list</title>
</head>

<body>
    <ul>
        {% for task in tasks %}
            <li>
                <input type="checkbox" id="{{ loop.index }}" name="taskCheckbox" value="{{ loop.index }}">
                <label for="{{ loop.index }}">{{ task }}</label>
                {% if 'Completed' in task %}
                    <button type="button" onclick="deleteTask({{ loop.index }})">Delete</button>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <script>
        function deleteTask(index) {
            document.getElementById('taskCheckbox-' + index).checked = false;
            document.forms[0].submit();
        }
    </script>

    <form method="POST" action="{{ url_for('add_task') }}">
        <label for="newTask">Add Task:</label>
        <input type="text" id="newTask" name="newTask" required>
        <button type="submit">Add</button>
    </form>
</body>

</html>
