@import "https://www.nerdfonts.com/assets/css/webfont.css";
:root {
    --bg-col: #f4f4f9;
    --bg-hov: #d3d3da;
    --text-col: #333;
    --task-bg: #fff;
    --shadow-col: rgba(0, 0, 0, 0.1);
    --border-radius: 20px;
    --task-size: 50;
    --primary-col: #4caf50;
    --primary-hov: #45a049;
    --danger-col: #ff6b6b;
    --danger-hov: #ff4c4c;
    --link-col: #0004ff;
}


.dark-mode {
    --bg-col: #1e1e1e;
    --bg-hov: #424141;
    --text-col: #ddd;
    --task-bg: #2c2c2c;
    --primary-col: #6dcf70;
    --primary-hov: #5bbf5f;
    --danger-col: #ff4c4c;
    --danger-hov: #ff6b6b;
    --link-col: #00aaff;
}

@keyframes fade-in-anim {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade-out-anim {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

body {
    transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
    font-family: Arial, sans-serif;
    background-color: var(--bg-col);
    color: var(--text-col);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.auth-button {
    background-color: var(--primary-col);
    color: var(--task-bg);
    border-radius: 5px;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        background-color: var(--primary-hov);
    }
}

#top-options {
    display: flexbox;
}

    #tags-filter-text {
        display: inline-block;
        transform: translateX(10px);
        margin-left: -30vw;
        margin-bottom: 20px;
    }

    #tags-filter-list {
        transform: translateX(10px);
    }

    #datetime-sort-text {
        display: inline-block;
        transform: translateX(10px);
        margin-left: -30vw;
        margin-bottom: 20px;
    }

    #datetime-sort-checkbox {
        transform: translateX(10px);
    }

#task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 60vw;
}

    .task-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--task-bg);
        border-radius: 20px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px 15px;
        margin-bottom: 10px;
        height: calc(var(--task-size) * 1px);
        text-align: left;
    }

    @media (max-width: 600px) {
        .task-item {
            flex-direction: row;
            align-items: center;
            padding-bottom: 15px;
            text-align: left; 
            gap : .5rem;
        }
    }

        input[type="checkbox"] {
            flex-grow: 1;
            transform: scale(1.2);
            margin-right: 10px;
            margin-bottom: 25px;
        }

        #task-title {
            flex-grow: 1;
            font-size: 16px;
            margin-bottom: 20px;
            display: flex;
        }

            #task-title[style="text-decoration: line-through"] {
                color: #888;
            }

        #task-description {
            margin-left: 40px;
        }

            .description-text {
                position: absolute;
                max-width: 39vw;
                margin-top: auto;
                margin-left: 5px;
                transform: translateY(-10px);
                background-color: var(--task-bg);
                color: var(--text-col);
                font-family: inherit;
                font-size: inherit;
            }

        #time-selector {
            background-color: var(--task-bg);
            color: var(--text-col);
            font-family: inherit;
            font-size: 15px;
            border: 2px solid var(--bg-hov);
        }

        #bin-button {
            background-color: transparent;
            color: var(--danger-col);
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
            font-size: 14px;
            &:hover {
                color: var(--danger-hov);
            }
        }

        .tag-container {
            position: absolute;
            margin-top: calc(var(--task-size)/1.1 * 1px);
            display: inline-block;
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 10px;
        }
        
            .tag-dot {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                display: inline-block;
                cursor: pointer;
                text-align: center;
                line-height: 20px;
                font-size: 15px;
                transition: all 0.3s ease;
                position: relative;
                &:hover {
                    width: fit-content;
                    padding: 0 10px;
                    padding-right: 25px;
                    height: 20px;
                    border-radius: 10px;
                }
            }
        
                .tag-delete {
                    display: none;
                    position: absolute;
                    color: black;
                    margin-left: 5px;
                    margin-top: 1px;
                    width: 17px;
                    height: 17px;
                    font-weight: bold;
                    border-radius: 50%;
                    background-color: white;
                    border-color: black;
                    border-style: solid;
                    border-width: 1px;
                }
        
        .tag-add {
            display: inline-block;
            position: relative;
            transition: all 0.3s ease;
        }
        
            .tag-add-button {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                display: inline-block;
                cursor: pointer;
                text-align: center;
                line-height: 20px;
                color: black;
                background-color: #afafaf;
                font-size: 15px;
                font-weight: bold;
                transition: all 0.3s ease;
                &:hover {
                    background-color: #8a8a8a;
                }
            }
        
            .tag-add-list {
                display: none;
                list-style-type: none;
                padding: 0;
                background-color: #d6d6d6;
                border-radius: 5px;
            }
        
                #tag-add-item {
                    padding: 2px;
                    border-radius: 5px;
                    &:hover {
                        cursor: pointer;
                    }
                }
        


#addtaskform {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

    #add-task{
        margin-right: 10px;
    }

    #add-task-input {
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 8px;
        font-size: 14px;
    }

    #add-task-submit {
        background-color: var(--primary-col);
        color: var(--task-bg);
        border-radius: 5px;
        border: none;
        padding: 8px 12px;
        cursor: pointer;
        &:hover {
            background-color: var(--primary-hov);
        }
    }

#createtagform {
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

    #create-tag-submit {
        background-color: var(--primary-col);
        color: var(--task-bg);
        border-radius: 5px;
        border: none;
        padding: 8px 12px;
        cursor: pointer;
        &:hover {
            background-color: var(--primary-hov);
        }
    }

#dark-mode-toggle {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    background-color: transparent;
    color: var(--text-col);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    &:hover {
        background-color: var(--bg-hov);
    }
}

footer a{
    color: var(--link-col);
}