@import "https://www.nerdfonts.com/assets/css/webfont.css";
.tag-container {
    margin-top: 4px;
    display: inline-block;
}
.tag-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
    color: white;
    font-size: 15px;
    transition: all 0.3s ease;
    position: relative;
}

.tag-dot:hover {
    width: 80px;
    height: 20px;
    border-radius: 10px;
    

}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    --task-size: 50; /* Change this variable to change the size of the task boxes, define all components within task box using this variable */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 60vw;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
    margin-bottom: 10px;
    height: calc(var(--task-size) * 1px)
}

input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 10px;
}
form button {
    background-color: transparent;
    color: #ff6b6b;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}
form button:hover {
    color: #ff4c4c; /* Darker red on hover */
}

#task-title {
    font-size: 30px;
    flex-grow: 1;
    font-size: 16px;
}

#task-title[style="text-decoration: line-through"] {
    color: #888;
}

#addtaskform {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#add-task{
    margin-right: 10px;
}

#add-task-input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 14px;
}

#add-task-submit {
    background-color: #4caf50;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    &:hover {
        background-color: #45a049;
    }
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    li {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 15px;
        text-align: left; 
        gap : .5rem
    }
}
